header .btn { padding: 10px 14px; }
@media (max-width: 1020px) { header .desktop-nav { gap: 13px; } header .container { gap: 14px; } }
@media (max-width: 900px) { header .desktop-nav { display: none; } header .mobile-menu { display: block; } }
